<div class="container">


<h1> Welcome to Ask Me Anything </h1>

<p>This is a place where you can find the answer to the question you are curious about.</p>

<ul>
  {{#each model.questions as |question|}}
    {{question-tile question=question destroyRental="destroyRental"}}
  {{/each}}
</ul>

{{new-question saveQuestion2="saveQuestion3"}}

<h2> All Answers </h2>

<ul>
  {{#each model.answers as |answer|}}
    <li>{{answer.content}} - by {{answer.author}}</li>
  {{/each}}
</ul>

{{new-answer saveAnswer="saveAnswer"}}
</div>
